// Shared with web client and login screen
.o_home_menu_background, .o_web_client.o_home_menu_background {
    background: {
        size: cover;
        position: center;
        repeat: no-repeat;
        attachment: fixed;
        color: var(--homeMenu-bg-color, #{$o-gray-200});
        image: var(--homeMenu-bg-image, url("/ica_web_responsive/static/img/background-light.png"));
    }
}
